development/webservices/FAQ/GenericFAQConnectorSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.otrs.org/FAQConnector/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GenericFAQConnectorSOAP" targetNamespace="http://www.otrs.org/FAQConnector/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.otrs.org/FAQConnector/">
      <xsd:element name="LanguageList">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LanguageListResponse">
        <xsd:complexType>
          <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element
                name="ID"
                type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
            </xsd:element>
            <xsd:element
                name="Name"
                type="xsd:string" minOccurs="1" maxOccurs="1">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PublicCategoryList">
      	<xsd:complexType>
      		<xsd:sequence>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PublicCategoryListResponse">
      	<xsd:complexType>
      		<xsd:sequence minOccurs="1" maxOccurs="unbounded">
                    <xsd:element
                        name="ID"
                        type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Name"
                        type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PublicFAQSearch">
      	<xsd:complexType>
      		<xsd:sequence>
                    <xsd:element
                        name="Number"
                        type="xsd:long" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="What"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Keyword"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="LanguageIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="CategoryIDs"
                        type="xsd:positiveInteger"
                        minOccurs="0"
                        maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="SortBy"
                        type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                    <xsd:element
                        name="OrderBy"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="OprderByDirection"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PublicFAQSearchResponse">
      	<xsd:complexType>
      		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element
                        name="ID"
                        type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>

      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PublicFAQGet">
      	<xsd:complexType>
      		<xsd:sequence>
                    <xsd:element
                        name="ItemID"
                        type="xsd:string"
                        minOccurs="1"
                        maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="GetAttachmentContents"
                        type="xsd:string" minOccurs="0" maxOccurs="1">
                    </xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="PublicFAQGetResponse">
      	<xsd:complexType>
      		<xsd:sequence>
                    <xsd:element name="Approved" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="CategoryID" type="xsd:int" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="CategoryName" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="CategoryShortName" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Changed" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="ChangedBy" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Created" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="CreatedBy" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="FAQID" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Field1" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Field2" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Field3" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Field4" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Field5" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Field6" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="ID" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ItemID"
                        type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Keywords" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Language" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="LanguageID" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Number"
                        type="xsd:long" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="StateID" type="xsd:int" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="StateTypeID" type="xsd:int" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="VoteResult" type="xsd:float" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Votes"
                        type="xsd:positiveInteger" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="StateTypeName"
                        type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="Attachment" type="tns:OTRS_FAQ_Attachment" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:complexType name="OTRS_FAQ_Attachment">
      	<xsd:sequence>
                    <xsd:element name="Filename" type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Filesize"
                        type="xsd:long" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string" minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element
                        name="Content"
                        type="xsd:base64Binary" minOccurs="1" maxOccurs="1">
                    </xsd:element>
       	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LanguageListRequest">
    <wsdl:part element="tns:LanguageList" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="LanguageListResponse">
    <wsdl:part element="tns:LanguageListResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PublicCategoryListRequest">
  	<wsdl:part name="parameters" element="tns:PublicCategoryList"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PublicCategoryListResponse">
  	<wsdl:part name="parameters" element="tns:PublicCategoryListResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PublicFAQSearchRequest">
  	<wsdl:part name="parameters" element="tns:PublicFAQSearch"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PublicFAQSearchResponse">
  	<wsdl:part name="parameters" element="tns:PublicFAQSearchResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PublicFAQGetRequest">
  	<wsdl:part name="parameters" element="tns:PublicFAQGet"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="PublicFAQGetResponse">
  	<wsdl:part name="parameters" element="tns:PublicFAQGetResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GenericFAQConnector_PortType">
    <wsdl:operation name="LanguageList">
      <wsdl:input message="tns:LanguageListRequest"/>
      <wsdl:output message="tns:LanguageListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="PublicCategoryList">
    	<wsdl:input message="tns:PublicCategoryListRequest"></wsdl:input>
    	<wsdl:output message="tns:PublicCategoryListResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicFAQSearch">
    	<wsdl:input message="tns:PublicFAQSearchRequest"></wsdl:input>
    	<wsdl:output message="tns:PublicFAQSearchResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicFAQGet">
    	<wsdl:input message="tns:PublicFAQGetRequest"></wsdl:input>
    	<wsdl:output message="tns:PublicFAQGetResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenericFAQConnector_Binding"
  	type="tns:GenericFAQConnector_PortType">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="LanguageList">
  		<soap:operation
  			soapAction="http://www.otrs.org/FAQConnector/LanguageList" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="PublicCategoryList">
  		<soap:operation
  			soapAction="http://www.otrs.org/FAQConnector/PublicCategoryList" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="PublicFAQSearch">
  		<soap:operation
  			soapAction="http://www.otrs.org/FAQConnector/PublicFAQSearch" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="PublicFAQGet">
  		<soap:operation
  			soapAction="http://www.otrs.org/FAQConnector/PublicFAQGet" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenericFAQConnector">
    <wsdl:port binding="tns:GenericFAQConnector_Binding" name="GenericFAQConnector_Port">
      <soap:address location="http://localhost/otrs/nph-genericinterface.pl/Webservice/GenericFAQConnectorSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
