scripts/webservices/FAQConnector.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="FAQConnector" targetNamespace="http://www.otrs.org/FAQConnector/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.otrs.org/FAQConnector/">
    <wsdl:documentation></wsdl:documentation>
    <!--
    Warning: This WSDL file is for Development and Test purposes ONLY!
 -->
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FAQConnector/">
    <xsd:element name="LanguageListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="FAQLanguage"
                    type="tns:OTRS_FAQLanguage">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="OTRS_FAQLanguage">
        <xsd:sequence>
            <xsd:element
                name="ID"
                type="xsd:int">
            </xsd:element>
            <xsd:element
                name="Name"
                type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
            <xsd:element name="PublicCategoryListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="Category"
                            type="tns:OTRS_FAQCategory">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="OTRS_FAQCategory">
                <xsd:sequence>
                    <xsd:element
                        name="ID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="Name"
                        type="xsd:string">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PublicFAQSearchResponse">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                        <xsd:element
                            name="ID"
                            type="xsd:int">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PublicFAQGetResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="FAQ"
                            type="tns:OTRS_FAQArticle">
                        </xsd:element>
                        <xsd:element
                            name="Attachment"
                            type="tns:OTRS_FAQAttachment" maxOccurs="unbounded" minOccurs="0">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element
                name="PublicFAQSearch"
                type="tns:OTRS_FAQSearch">
            </xsd:element>
            <xsd:element name="PublicFAQGet">
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element
                            name="ItemID"
                            type="xsd:int">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="OTRS_FAQSearch">
                <xsd:sequence>
                    <xsd:element
                        name="Number"
                        type="xsd:long">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="What"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Keyword"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="LanguageIDs"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="CategoryIDs"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="OrderBy"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="OprderByDirection"
                        type="xsd:string">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_FAQArticle">
                <xsd:sequence>
                    <xsd:element
                        name="ID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="ItemID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="FAQID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="Number"
                        type="xsd:long">
                    </xsd:element>
                    <xsd:element
                        name="CategoryID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="CategoryName"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="CategoryShortName"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="LanguageID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="Language"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Title"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Field1"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Field2"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Field3"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Field4"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Field5"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Field6"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Approved"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="Keywords"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Votes"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="VoteResult"
                        type="xsd:float">
                    </xsd:element>
                    <xsd:element
                        name="StateID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="State"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="StateTypeID"
                        type="xsd:int">
                    </xsd:element>
                    <xsd:element
                        name="StateTypeName"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Created"
                        type="xsd:dateTime">
                    </xsd:element>
                    <xsd:element
                        name="CreatedBy"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Changed"
                        type="xsd:dateTime">
                    </xsd:element>
                    <xsd:element
                        name="ChangedBy"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Name"
                        type="xsd:string">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OTRS_FAQAttachment">
                <xsd:sequence>
                    <xsd:element
                        name="Filesize"
                        type="xsd:long">
                    </xsd:element>
                    <xsd:element
                        name="ContentType"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Filename"
                        type="xsd:string">
                    </xsd:element>
                    <xsd:element
                        name="Content"
                        type="xsd:base64Binary">
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
</xsd:schema></wsdl:types>
    <wsdl:message name="LanguageListRequest">
        <wsdl:part
            name="parameters" element="tns:LanguageList">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="LanguageListResponse">
        <wsdl:part
            name="parameters" element="tns:LanguageListResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PublicCategoryListRequest">
        <wsdl:part
            name="parameters"
            element="tns:PublicCategoryList">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PublicCategoryListResponse">
        <wsdl:part
            name="parameters" element="tns:PublicCategoryListResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PublicFAQSearchRequest">
        <wsdl:part
            name="parameters"
            element="tns:PublicFAQSearch">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PublicFAQSearchResponse">
        <wsdl:part
            name="parameters" element="tns:PublicFAQSearchResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PublicFAQGetRequest">
        <wsdl:part
            name="parameters" element="tns:PublicFAQGet">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PublicFAQGetResponse">
        <wsdl:part
            name="parameters" element="tns:PublicFAQGetResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FAQConnector_Interface">
        <wsdl:documentation>Warning: This WSDL file is for Development and Test purposes ONLY!
</wsdl:documentation>
        <wsdl:operation name="LanguageList">
            <wsdl:input message="tns:LanguageListRequest"></wsdl:input>
            <wsdl:output message="tns:LanguageListResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PublicCategoryList">
            <wsdl:input message="tns:PublicCategoryListRequest"></wsdl:input>
            <wsdl:output message="tns:PublicCategoryListResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PublicFAQSearch">
            <wsdl:input message="tns:PublicFAQSearchRequest"></wsdl:input>
            <wsdl:output message="tns:PublicFAQSearchResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PublicFAQGet">
            <wsdl:input message="tns:PublicFAQGetRequest"></wsdl:input>
            <wsdl:output message="tns:PublicFAQGetResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="FAQConnector_Service"
        type="tns:FAQConnector_Interface">
        <soap:binding
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="LanguageList">
            <soap:operation
                soapAction="http://www.example.org/FAQConnector/LanguageList" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PublicCategoryList">
            <soap:operation
                soapAction="http://www.example.org/FAQConnector/PublicCategoryList" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PublicFAQSearch">
            <soap:operation
                soapAction="http://www.example.org/FAQConnector/PublicFAQSearch" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PublicFAQGet">
            <soap:operation
                soapAction="http://www.example.org/FAQConnector/PublicFAQGet" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FAQConnector">
        <wsdl:port name="FAQConnector_endPoint" binding="tns:FAQConnector_Service">
            <soap:address location="http://localhost/otrsfaq30/nph-genericinterface.pl/Webservice/FAQConnector" />
        </wsdl:port>
    </wsdl:service></wsdl:definitions>